fastapi
uvicorn
pydantic-settings
httpx
openai
google-generativeai
python-dotenv
langchain
langchain-community
sentence-transformers
faiss-cpu
rank_bm25
pypdf
python-docx
pandas
langchain-huggingface
langchain-experimental
pytest
pytest-asyncio
